---
import IframeLayout from "../layouts/IframeLayout.astro";
import HeroAnim1 from "../components/Hero1.astro";
---

<IframeLayout title="My animation">
  <link rel="stylesheet" href="/index.css" />
  <script src="../client/heroAnim.ts"></script>
  <main>
    <HeroAnim1 />
  </main>
  <script>
    (function () {
      const HERO_BASE_WIDTH = 620;

      function setSize() {
        const wWidth = window.innerWidth;
        const resize = `${(wWidth / HERO_BASE_WIDTH) * 100}%`;
        const hero = document.querySelector("#hhh_hero1");
        (hero as HTMLElement).style.transform = `scale(${resize})`;
      }

      window.addEventListener("resize", function (e) {
        setSize();
      });
      setSize();
    })();
  </script>
</IframeLayout>
