---
import Layout from "../layouts/Layout.astro";
import HeroAnim1 from "../components/HeroAnim1.astro";
---

<Layout title="My animation">
  <link rel="stylesheet" href="/index.css" />
  <script src="../client/heroAnim.ts"></script>
  <main>
    <HeroAnim1 />
  </main>
</Layout>
