---
import Layout from "../layouts/Layout.astro";
import Hero1 from "../components/Hero1.astro";
---

<Layout title="My animation">
  <link rel="stylesheet" href="/index.css" />
  <script src="../client/heroAnim.ts"></script>
  <main>
    <Hero1 />
  </main>
</Layout>
<style is:global></style>
