---
const { class: className, size = 80, ...props } = Astro.props;
---

<div class:list={[className, "squareFlat"]} {...props}>
  <svg viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m2 79.5c-.82715 0-1.5-.67285-1.5-1.5v-76c0-.82715.67285-1.5 1.5-1.5h75.5c1.10254 0 2 .89697 2 2v75.5c0 .82715-.67285 1.5-1.5 1.5z"
      fill="#1c2029"></path>
    <path
      d="m77.5 1c.8271 0 1.5.6729 1.5 1.5v75.5c0 .5514-.4486 1-1 1h-76c-.5514 0-1-.4486-1-1v-76c0-.5514.4486-1 1-1zm0-1h-75.5c-1.10456 0-2 .89542-2 2v76c0 1.10456.89544 2 2 2h76c1.10456 0 2-.89544 2-2v-75.5c0-1.38071-1.11929-2.5-2.5-2.5z"
      fill="#2a2e37"></path>
  </svg>
  <style>
    .squareFlat {
      width: 80px;
      height: 80px;
    }
  </style>
</div>
