---
import StrokeGradient from "./StrokeGradient.astro";
const gradientId = "strokeGradient1";
const { gradientStroke = false } = Astro.props;
---

<div
  style={{
    position: "absolute",
    left: "-6px",
    right: "-6px",
    bottom: "-6px",
    top: "-6px",
  }}
>
  <svg
    viewBox="0 0 70 70"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <clipPath id="squaredeepclip">
      <StrokeGradient id={gradientId} />

      <path
        d="m69.4142.58579v55.82842s-6.63806 6.63807-6.99998 7-.86193.58579-1.41422.58579h-53c-1.10457 0-2-.89543-2-2v-53c0-.55228.22386-1.05228.58578-1.41421s7-7 7-7"
      ></path>
    </clipPath>
    <g clip-path="url(#squaredeepclip)">
      <path d="m6 0h64v64h-64z" fill="#1a1d24"></path>
      <path d="m6 65.2929 64-65.2929h-64z" fill="#292f3d"></path>
    </g>
    <path
      d="m15 56.67285c-.92188 0-1.67285-.75049-1.67285-1.67285v-53c0-.44678.17383-.8667.49023-1.18262.31543-.31592.73535-.49023 1.18262-.49023h53c.92188 0 1.67285.75049 1.67285 1.67285v53c0 .44678-.17383.8667-.49023 1.18262-.31543.31592-.73535.49023-1.18262.49023z"
      fill="#21242c"></path>
    <path
      d="m68 .65479c.74175 0 1.34521.60346 1.34521 1.34521v53c0 .35932-.13992.69713-.39399.95121s-.5919.394-.95122.394h-53c-.74175 0-1.34521-.60346-1.34521-1.34521v-53c0-.35931.13992-.69713.39399-.95121.25408-.25408.5919-.394.95122-.394zm0-.65479h-53c-.55229 0-1.05229.22386-1.41422.58579-.36192.36193-.58578.86193-.58578 1.41421v53c0 1.10457.89543 2 2 2h53c.55228 0 1.05229-.22386 1.41422-.58579s.58578-.86193.58578-1.41421v-53c0-1.10457-.89543-2-2-2z"
      fill={gradientStroke ? `url(#${gradientId})` : "#2a2e37"}></path>
  </svg>
</div>
